process {
    withName: ".*:TRACTOFLOW:IMAGE_MATH" {
        ext.operation = "multiplication"
        ext.data_type   = "float32"
        ext.suffix = "fa_masked"
    }

    withName: ".*:TRACTOFLOW:CONVERT4D_*" {
        ext.strides = "-1 2 3 4"
    }

    withName: ".*:TRACTOFLOW:CONVERT3D_*" {
        ext.strides = "-1 2 3"
    }
}
