params {
    clean_output       = true

    run_local_tracking  = true
    run_pft_tracking    = true
    run_noddi           = true
    run_freewater       = true
    run_bundle_seg      = true
    run_qball           = true
    run_atlas_based_tractometry = true
    run_tractometry     = true

}

// Docker configuration
docker.enabled          = true
docker.runOptions       = '-u $(id -u):$(id -g)'
conda.enabled           = false
singularity.enabled     = false
podman.enabled          = false
shifter.enabled         = false
charliecloud.enabled    = false
apptainer.enabled       = false
