/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    scilus/sf-tractomics Nextflow GPU config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    // ** Eddy-related changes for GPU execution ** //
    withName: '.*:PREPROC_DWI:TOPUP_EDDY:PREPROC_EDDY' {
        accelerator = 1
        clusterOptions = { "--gres=gpu:${params.gpu_type}:1" }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer']
                ? '--nv'
                : ''
        }
        cpus = 1
        memory = 16.GB
        time = 4.h
        ext.eddy_cmd = "eddy"
        ext.prefix_topup                            = params.prefix_topup
        ext.slice_drop_correction                   = params.use_slice_drop_correction
        ext.bet_topup_before_eddy_f                 = params.bet_topup_before_eddy_f
        ext.dilate_b0_mask_prelim_brain_extraction  = params.dilate_b0_mask_prelim_brain_extraction
        ext.bet_prelim_f                            = params.bet_prelim_f
        ext.b0_thr_extract_b0                       = params.b0_thr_extract_b0
        ext.encoding                                = params.encoding_direction
        ext.readout                                 = params.readout
        ext.extra_args                              = params.eddy_extra_args
        ext.run_qc                                  = true
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]


    }

    // ** Local tracking changes for GPU execution ** //
    withName: '.*:TRACKING_LOCALTRACKING' {
        accelerator = 1
        clusterOptions = { "--gres=gpu:${params.gpu_type}:1" }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer']
                ? '--nv'
                : ''
        }
        cpus = 1
        memory = 16.GB
        time = 4.h
        ext.gpu_batch_size = 10000
        ext.enable_gpu = true
        ext.local_tracking_mask_type            = params.local_tracking_mask_type
        ext.local_fa_tracking_mask_threshold    = params.local_fa_tracking_mask_threshold
        ext.local_seeding_mask_type             = params.local_seeding_mask_type
        ext.local_fa_seeding_mask_threshold     = params.local_fa_seeding_mask_threshold
        ext.local_seeding                       = params.local_seeding
        ext.local_nbr_seeds                     = params.local_nbr_seeds
        ext.local_algo                          = params.local_algo
        ext.local_step                          = params.local_step
        ext.local_theta                         = params.local_theta
        ext.local_sfthres                       = params.local_sfthres
        ext.local_min_len                       = params.local_min_len
        ext.local_max_len                       = params.local_max_len
        ext.local_random_seed                   = params.local_random_seed
        ext.local_compress_streamlines          = params.local_compress_value > 0
        ext.local_compress_value                = params.local_compress_value
        ext.basis                               = params.basis
        ext.run_qc                              = true

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def prefix = [meta.id, meta.session, meta.run].findAll().join("_")
                if ( filename.contains("local_tracking.trk") ) { "${prefix}_desc-local_tractogram.trk" }
                else if ( filename.contains("seeding_mask") ) { "${prefix}_space-DWI_label-seeding_desc-local_mask.nii.gz" }
                else if ( filename.contains("tracking_mask") ) { "${prefix}_space-DWI_label-tracking_desc-local_mask.nii.gz"}
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}
